environment:
  matrix:
    #- nodejs_version: '11'
    #- nodejs_version: '10'
    #- nodejs_version: '9'
    - nodejs_version: '8'

install:
  - ps: >
      if ($env:nodejs_version -eq "10") {
        Install-Product node $env:nodejs_version x64
      } else {
        Install-Product node $env:nodejs_version
      }
  - set PATH=%APPDATA%\npm;%PATH%
  - npm install
matrix:
  fast_finish: false
build: off
shallow_clone: true
test_script:
  - node --version
  - npm --version
  - npx --version
  - npm run test-with-no-coverage
cache:
  - '%APPDATA%\npm-cache'
